* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

body #app {
    display: flex;
    height: 100vh;
}

#scene {
    flex: 10;
    z-index: 5;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;

    cursor: auto;
    z-index: 10;
    
    background-color: #222;
    border-right: #ebb444 solid 5px;
}

#controls div {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    justify-content: space-evenly;
}

#controls div input {
    text-align: center;
    padding: 0.8ch;
    border-radius: 12px;
    border: none;
}

#controls button {
    background-color: #eee;
    color: #222;
    border: #ebb444 solid 3px;
    border-radius: 3px;
    cursor: pointer;
}

#controls h1 {
    color: #ebb444;
}

input[type="number"] {
    -moz-appearance:textfield;
    width: 3ch;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Mobile settings */
@media (max-aspect-ratio: 4/3) {
    body #app {
        flex-direction: column-reverse;
    }
    
    #controls {
        flex: 5;
        border-right: none;
        border-top: #ebb444 solid 5px;
    }
}
